DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
FRONTEND_WEB_URL=
FRONTEND_PANEL_URL=
FRONTEND_ECOMMERCE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NODE_ENV=development
PORT=3000
